.layout {
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-medium) {
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;

    &__aside,
    &__main {
      overflow: auto;
      padding: rem(20);
    }

    &__aside {
      background: darken($blue-gray-900, 9%);
      flex: rem(265) 0 0;

      & > * + * {
        border-top: rem(1) solid rgba(255, 255, 255, 0.1);
        margin-top: rem(24);
        padding-top: rem(24);
        text-align: center;
      }
    }

    &__main {
      flex: 1;
    }

    &__content {
      margin: 0 auto;
      max-width: rem(960);

      & > * {
        margin-bottom: rem(42);
      }
    }
  }
}
