.header {
  align-items: center;
  display: flex;
  margin: rem(0 0 24);

  a {
    &:hover {
      text-decoration: none;
    }
  }

  &__logo {
    align-items: center;
    color: $white;
    display: flex;
    line-height: 1.2;
    text-decoration: none;
    text-transform: lowercase;

    svg {
      width: rem(48);
    }

    & > * + * {
      margin-left: rem(16);
    }
  }
}
