.header {
  display: flex;
  justify-content: space-between;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  &__logo {
    align-items: center;
    color: $white;
    display: flex;
    text-decoration: none;
    text-transform: lowercase;

    svg {
      width: rem(36);
    }

    & > * + * {
      margin-left: rem(16);
    }
  }

  &__nav {
    display: none;
  }

  @media (min-width: $breakpoint-large) {
    flex-direction: column;

    &__logo {
      align-items: center;
      display: flex;
      margin: rem(0 0 24);

      svg {
        width: rem(48);
      }
    }

    &__nav {
      display: block;
      text-align: center;

      & > * {
        display: block;
      }
    }
  }
}
